.awesome-background{
    width: 100%;
    margin-top: 50px;
}
.awesome-container {
    width: 1170px;
    margin: 0 auto;
}
.awesome-container__title {
    font-size: 36px;
    font-weight: 400;
    font-family: Raleway;
    text-align: center;
    height: 150px;
    line-height: 150px;
    margin: 0;
}
.awesome-container__separator {
    width: 170px;
    height: 1px;
    background: #EC7979;
    margin: 0 auto;
    margin-bottom: 40px;
}
.awesome-container__subheading {
    font-weight: 400;
    text-align: center;
    font-family: Raleway;
    font-size: 18px;
    color: #86878B;
    margin-bottom: 71px;
}
.awesome-block{
    width: 1170px;
    display: flex;
    justify-content: space-between;
}
.awesome-item {
    display: inline-block;
    width: 369px;
}
.awesome-item__title {
    font-size: 24px;
    font-family: Open Sans;
    font-weight: 700;
    text-align: center;
    margin-bottom: 8px;
}
.awesome-item__description {
    width: 100%;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    font-family: Raleway;
}
.awesome-item__image{
    width: 170px;
    display: block;
    margin: 0 auto;
}
.awesome-item__image_hover:hover{
    animation-name: rotation;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes rotation {
    0% {
        transform:rotateY(0deg);
    }
    100% {
        transform:rotateY(360deg);
    }
}


@media screen and (max-width:1187px) {
    .awesome-container {
        width: 95%
    }
    .awesome-block{
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
}
@media screen and (max-width:1170px) {
    .awesome-container__title {
        font-size: 24px;
        height: 120px;
        line-height: 120px;
    }
    .awesome-container__separator {
        width: 142px;
        margin-bottom: 32px;
    }
    .awesome-container__subheading {
        font-size: 14px;
        margin-bottom: 32px;
    }
    .awesome-block{
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    .awesome-item {
        width: 100%;
        margin-left: 5px;
        margin-right: 5px;
    }
    .awesome-item__title {
        font-size: 18px;
        font-weight: 700;
        text-align: center;
        margin-bottom: 17px;
    }
    .awesome-item__description {
        font-size: 14px;
    }
    .awesome-item__image{
        width: 143px;
    }
}
@media screen and (max-width:775px){
    .awesome-background{
        margin-top: 0px;
    }
    .awesome-block{
        flex-direction: column;
        align-items: center;
    }
    .awesome-container__title {
        font-size: 18px;
    }
    .awesome-container__separator {
        width: 134px;
        margin-bottom: 25px;
    }
    .awesome-container__subheading {
        font-size: 13px;
        margin-bottom: 50px;
    }
    .awesome-item {
        width: 65%;
    }
}