.header-background{
    width: 100%;
    height: 75px;
    background: black;
}
.header-container{
    width: 1170px;
    height: 100%;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}
.header-menu{
    height: 100%;
    display: flex;
}
.header-menu__item{
    width: 114px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: Open Sans;
    font-size: 14px;
    font-weight: 600;
}
.header-menu__item_hover:hover{
    background: #EC7979;
}
.header-menu__item_hover:active{
    background: #AB4949;
}
.header-container__logo{
    margin-left: -50px;
}
.header-container__burger{
    display: none;
    background-image: url(/images/header/burger.svg);
    width: 24px;
    height: 18px;
    margin-right: 35px;
}

@media screen and (max-width:1280px) {
    .header-container__logo{
    margin: 0;
    }
}
@media screen and (max-width:1187px){
    .header-container{
    width: 95%;
    }
}
@media screen and (max-width:1170px) {
    .header-container{
        width: 95%;
    }
    .header-menu{
        margin-right: 20px;
    }
    .header-container__logo{
        margin: 0;
    }
}
@media screen and (max-width:789px){
    .header-menu__item{
        width: 111px;
    }
}
@media screen and (max-width:775px){
    .header-background{
        width: 100%;
        height: 56px;
        background: black;
    }
    .header-menu{
        display: none;
    }
    .header-container__burger{
        display: block;
        margin-right: 20px;
    }
    .header-container__logo{
        height: 56px;
    }
}