.social-background{
    width: 100%;
    height: 140px;
    background: #F8EFEF;
}
.social-container{
    width: 1170px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.social-info{
    height: 100%;
    margin-right: 30px;
}
.social-info__title{
    height: 60px;
    color: #333;
    font-family: Open Sans;
    font-size: 24px;
    font-weight: 700;
    line-height: 60px;
    margin: 0px 0px 18px 0px;
}
.social-info__text{
    width: max-content;
    height: 42px;
    color: #86878B;
    font-family: Raleway;
    font-size: 18px;
    font-weight: 400;
    margin: 0;
}
.social-icons{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.social-icons__icon_hover:hover{
    filter: brightness(0.8);
}

@media screen and (max-width:1187px){
    .social-container{
        width: 95%;
    }
}
@media screen and (max-width:1170px){
    .social-background{
        height: 105px;
    }
    .social-container{
        width: 95%;
    }
    .social-info__title{

        height: 45px;
        font-size: 18px;
        margin: 2px 0px 13px 0px;
    }
    .social-info__text{

        height: 32px;
        font-size: 14px;
        margin: 0px 0px 13px 0px;
    }
    .social-icons{
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    .social-icons__icon{
        height: 64px;
    }
}
@media screen and (max-width:930px){
    .social-icons__icon{
        height: 56px;
    }
}
@media screen and (max-width:855px){
    .social-icons__icon{
        height: 45px;
    }
}
@media screen and (max-width:775px){
    .social-background{
        height: 100%;
        padding-bottom: 8%;
    }
    .social-info{
        margin-right: 0;
    }
    .social-container{
        flex-direction: column;
    }
    .social-info__title{
        width: 100%;
        height: 45px;
        font-size: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
        line-height: 45px;
        margin-top: 31px;
    }
    .social-info__text{
        height: 48px;
        font-size: 18px;
        text-align: center;
        margin: 0;
        margin-top: 13px;
    }
    .social-icons{
        margin: 32px 0px 0px 0px;
    }
}
@media screen and (max-width:775px){
    .social-icons__icon{
        height: 56px;
    }
}
@media screen and (max-width:620px){
    .social-info__title{
        font-size: 20px;
    }
    .social-info__text{
        font-size: 16px;
    }
    .social-icons__icon{
        height: 48px;
    }
}
@media screen and (max-width:490px){
    .social-info__title{
        font-size: 18px;
    }
    .social-info__text{
        font-size: 14px;
    }
    .social-icons__icon{
        height: 36px;
    }
}
@media screen and (max-width:375px){
    .social-icons__icon{
        height: 26px;
    }
    .social-info__text{
        width: 100%;
    }
}

